<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Highscores</title>
  <link rel="stylesheet" href="/styles/highscores.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
</head>

<body>
  <% title="Highscores" %>
    <div class="highscore-container">
      <h1>Highscore List</h1>

      <form method="GET" action="/highscores" class="filter-form">
        <label>
          Word Length:
          <select name="wordLength">
            <option value="">All</option>
            <% [5, 6, 7, 8].forEach(len => { %>
              <option value="<%= len %>" <%= Number(len) === Number(query.wordLength) ? 'selected' : '' %>><%= len %>
              </option>
            <% }) %>
          </select>
        </label>

        <label>
          <input type="checkbox" name="uniqueOnly" value="true" <%= query.uniqueOnly === 'true' ? 'checked' : '' %> />
          Only Unique Letters
        </label>

        <label>
          <input type="checkbox" name="timedMode" value="true" <%= query.timedMode === 'true' ? 'checked' : '' %> />
          Timed Mode Only
        </label>

        <button type="submit">Filter</button>
      </form>

      <table class="highscore-table">
        <thead>
          <tr>
            <th><a href="<%= getSortLink('name', query.sortBy, query.order, query) %>">Name</a></th>
            <th><a href="<%= getSortLink('attempts', query.sortBy, query.order, query) %>">Attempts</a></th>
            <th><a href="<%= getSortLink('wordLength', query.sortBy, query.order, query) %>">Word Length</a></th>
            <th><a href="<%= getSortLink('uniqueOnly', query.sortBy, query.order, query) %>">Unique Letters</a></th>
            <th><a href="<%= getSortLink('time', query.sortBy, query.order, query) %>">Time</a></th>
            <th><a href="<%= getSortLink('date', query.sortBy, query.order, query) %>">Date</a></th>
          </tr>
        </thead>
        <tbody>
          <% highscores.forEach(score => { %>
            <tr>
              <td>
                <%= score.name %>
              </td>
              <td>
                <%= score.attempts %>
              </td>
              <td>
                <%= score.wordLength %>
              </td>
              <td>
                <%= score.uniqueOnly ? 'Yes' : 'No' %>
              </td>
              <td>
                <%= (score.time !== undefined && score.time !== null) ? score.time + ' sec' : '---' %>
              </td>
              <td>
                <%= score.date.split('T')[0] %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <% if (totalPages > 1) { %>
        <div class="pagination">
          <% if (currentPage > 1) { %>
            <a href="?<%= new URLSearchParams({ ...query, page: currentPage - 1 }).toString() %>">&laquo; Previous</a>
          <% } %>

          <span>Page <%= currentPage %> of <%= totalPages %></span>

          <% if (currentPage < totalPages) { %>
            <a href="?<%= new URLSearchParams({ ...query, page: currentPage + 1 }).toString() %>">Next &raquo;</a>
          <% } %>
        </div>
      <% } %>

      <div class="back-button-container">
        <a href="/" class="back-button">
          Back to Game
        </a>
      </div>
    </div>
</body>

</html>