<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Highscores</title>
  <link rel="stylesheet" href="/styles/highscores.css" />
</head>
<body>
  <% title = "Highscores" %>
  
  <h1>Highscore-lista</h1>
  
  <table class="highscore-table">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Försök</th>
        <th>Ordets längd</th>
        <th>Unika bokstäver</th>
        <th>Tid</th>
        <th>Datum</th>
      </tr>
    </thead>
    <tbody>
      <% highscores.forEach(score => { %>
        <tr>
          <td><%= score.name %></td>
          <td><%= score.attempts %></td>
          <td><%= score.wordLength %></td>
          <td><%= score.uniqueOnly ? 'Ja' : 'Nej' %></td>
          <td><%= score.time !== undefined ? score.time + ' sek' : '-' %></td>
          <td><%= score.date.split('T')[0] %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>